* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  /* border: 1px solid black; */
}

body {
  background: #fff;
  width: 100%;
}

.main-header {
  box-shadow: #000 0px 5px 5px;
}

.wrapper {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.gap-3 {
  gap: 3;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.column{
  flex-direction: column;
}
.between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}

h1 {
  font-size: 5.2rem;
  color: red;
  text-transform: uppercase;
  padding-block: 0.5rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 5px 0 10px 0;
}

/* Header Styling compontent */

.navbar {
  min-height: 10vh;
  /* position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0; */
}

.navbar .logo img {
  width: 3.5rem;
  background: #efebeb;
  box-shadow: #bfbcbc 5px 5px 5px;
  border-radius: 50%;
}
.search-box {
  position: relative;
  margin-inline: 10px;
}

.search-box input {
  width: 100%;
  min-height: 50px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #4e61d3;
}
.search-box .search {
  position: absolute;
  font-size: 1.2rem;
  top: 10%;
  right: 2%;
  background: #000;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.cart-container {
  position: ß;
}
.cart-container .wishlist {
  color: red;
  font-size: 1.5rem;
}
.cart-container .cart {
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-items {
  font-size: 1rem;
  color: #000;
  font-weight: 400;
  position: absolute;
  top: 40px;
  right: 10%;
  width: 20px;
  aspect-ratio: 1;
  background: orange;
  text-align: center;
  border-radius: 50%;
}
.cart-section{
  position: fixed;
  width: 300px;
  height: 100%;
  inset: 0 -500px 0 auto;
  background: tomato;
  /* padding: 10px; */
  top: 0;
  right: -500px;
  z-index: 999;
  transition: all .3s ease-in-out;
}
.cart-section.active{
  right: 0;
}
.cart-img img{
  width: 50px;
  height: 50px;
}
.cart-title h3{
  text-align: center;
  margin-block: 10%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
.cart-text{
  width: 120px;
}
.cart-text h3{
  font-size: .92rem;
  color: azure;
  font-weight: normal;
}
.cart-text p{
  color: rgb(170, 17, 17);
  font-size: .89rem;
  font-weight: bold;
}
.cart-products{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px; 
  transition: all .3s ease-in-out;
}
.scroll-container{
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: space-between;
}
.scroll-container::-webkit-scrollbar{
  width: 0;
}
.cart-products.slider{
  transform: translateX(100%);
}
.cart-price .cart-icon{
  background: #fff;
  color: #000;
  /* padding: 10px; */
  width: 30px;
  aspect-ratio: 1;
  line-height: 30px;
  border-radius: 50%;
  font-size: .85rem;
  text-align: center;
}
.cart-price span{
  padding-inline: 3px;
  font-size: 1.2rem;
  font-weight: 500;
}
/* Hero Section Styling */
.hero-container {
  width: 100%;
  height: calc(100vh - 10vh);
}
.hero-text {
  text-align: left;
  margin-right: 30px;
}
.hero-text h2 {
  margin-block: 10px;
}
.hero-text .timer {
  background: #000;
  color: #fff;
  font-size: 3.2rem;
  padding: 5px;
}
.hero-img {
  position: relative;
}
.hero-img img {
  width: 100%;
  height: 100%;
}
.hero-img .img1 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 20%;
  left: 50px;
}
.hero-img .img2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -10%;
  right: 30%;
}
.hero-img .img3 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 10%;
  right: -5px;
}
.hero-img .img4 {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 20%;
}
.total-container{
  position: fixed;
  width: 300px;
  bottom: 0;
  padding: 20px 10px;
  background: #fff;
}
.total-price{
text-align: center;
}
.total-price h1{
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  color: teal;
  text-transform: capitalize;
  
}
.total-price span{
  font-size: 1.2rem;
  font-weight: 400;
  color: red;
}
.price-btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
padding: 5px;
}
.price-btn-container a{
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  background-color: #000;
  text-decoration: none;
  color: #fff;
margin: 5px;
text-align: center;
line-height: 50px;
}



/* Service Details Styling */
.service-container{
  padding: 20px;
}
.services{
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: #615f5f 10px 10px 20px;
  width: 300px;
  aspect-ratio: 1;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.service-img img{
  width: 200px;
  aspect-ratio: 1;
}
.service-text h3{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  padding-block: 20px;
}
.service-text p{
  display: block;
  font-size: 1.2rem;
  color: tomato;
  font-weight: bold;
}
.product-title{
  text-align: center;
  margin-block: 1rem;
}
.product-title h1{
  font-size: 3.2rem;
  text-transform: capitalize;
}
.product-title h3{
font-size: 1.2rem;
font-weight: 400;
}
.service-text span{
  background: tomato;
  padding: 10px 5px;
  margin: 10px 5px;
  display: block;
  cursor: pointer;
}

/* Media Query Screen Play */
@media screen and (max-width: 1024px) {
  .hero-text h1 {
    margin-top: 10%;
  }
  .hero-img img {
    margin-top: 20%;
  }
  .cart-items {
    font-size: 1rem;
    color: #000;
    font-weight: 400;
    position: absolute;
    top: 40px;
    right: 20px;
    width: 20px;
    aspect-ratio: 1;
    background: orange;
    text-align: center;
    border-radius: 50%;
  }
  .service-container{
  padding: 20px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-title{
  margin-top: 15%;
}
}

@media screen and (max-width: 360px) {
   .search-box input {
    width: 160px;
    min-height: 50px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #4e61d3;
    font-size: 12px;
}
}
